<div class="container cash-account">
  <form  [formGroup]="cashAccountForm2" (ngSubmit)="onSubmit()">
    <div class="owners-info">
      <div class="alert alert-primary" role="alert">
        <strong>Shipping Address</strong>
      </div>
      <div class="owners-form">
        <div class="form-group row element">
          <label  class="col-sm-4 col-form-label">Address Line 1  <span class="mandatory">* </span> </label>
          <div class="col-sm-8">
            <input type="text"  formControlName="addressLine1"
                   class="form-control"
                   [ngClass]="{ 'is-invalid': (submitted && f['addressLine1'].errors) || f['addressLine1'].invalid && (f['addressLine1'].dirty || f['addressLine1'].touched)}" placeholder="Enter Address Line1">
            <div *ngIf="submitted && f['addressLine1'].errors" class="invalid-feedback">
              <div *ngIf="f['addressLine1'].errors.required">Address Line 1 is required</div>
            </div>
          </div>

        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Address Line 2 </label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  placeholder="Enter Address Line 2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row element">
              <label for="inputPassword" class="col-sm-3 col-form-label">City <span class="mandatory">* </span>  </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="city"   [ngClass]="{ 'is-invalid': (submitted && f['city'].errors) || f['city'].invalid && (f['city'].dirty || f['city'].touched)}">
                  <option value="">Select City</option>
                  <option>Chicago</option>
                  <option>WC</option>
                </select>
                <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                  <div *ngIf="f['city'].errors.required">Select City </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row element">
              <label for="inputPassword" class="col-sm-4 col-form-label">Country <span class="mandatory">* </span>  </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="country" [ngClass]="{ 'is-invalid': (submitted && f['country'].errors) || f['country'].invalid && (f['country'].dirty || f['country'].touched)}">
                  <option>Select Country</option>
                  <option>USA</option>
                  <option>Canada</option>
                </select>
                <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
                  <div *ngIf="f['country'].errors.required">Select Country </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row element">
              <label for="inputPassword" class="col-sm-3 col-form-label">State <span class="mandatory">* </span>  </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="state" [ngClass]="{ 'is-invalid': (submitted && f['state'].errors) || f['state'].invalid && (f['state'].dirty || f['state'].touched)}">
                  <option>Select State</option>
                  <option>NY</option>
                  <option>NJ</option>
                </select>
                <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
                  <div *ngIf="f['state'].errors.required">Select State </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row element">
              <label for="inputPassword" class="col-sm-4 col-form-label">Zip code <span class="mandatory">* </span>  </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="zipcode" [ngClass]="{ 'is-invalid': (submitted && f['zipcode'].errors) || f['zipcode'].invalid && (f['zipcode'].dirty || f['zipcode'].touched)}">
                  <option>Select Zipcode</option>
                  <option>52300</option>
                  <option>58263</option>
                </select>
                <div *ngIf="submitted && f['zipcode'].errors" class="invalid-feedback">
                  <div *ngIf="f['zipcode'].errors.required">Select Zip Code </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="same-address">
      <input type="checkbox" (change)="saveBilling($event)"> Billing Address same as Shipping Address
    </div>
    <div class="business-info">
      <div class="alert alert-primary" role="alert">
        <strong> Billing Address </strong>
      </div>
      <div class="owners-form">
        <div class="form-group row element">
          <label  class="col-sm-4 col-form-label">Address Line 1  <span class="mandatory">* </span> </label>
          <div class="col-sm-8">
            <input type="text"  formControlName="bAddressLine1"
                   class="form-control"
                   [ngClass]="{ 'is-invalid': (submitted && f['bAddressLine1'].errors) || f['bAddressLine1'].invalid && (f['bAddressLine1'].dirty || f['bAddressLine1'].touched)}" placeholder="Enter Address Line1">
            <div *ngIf="submitted && f['bAddressLine1'].errors" class="invalid-feedback">
              <div *ngIf="f['bAddressLine1'].errors.required">Address Line 1 is required</div>
            </div>
          </div>

        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Address Line 2 </label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  placeholder="Enter Address Line 2">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row element">
              <label for="inputPassword" class="col-sm-3 col-form-label">City <span class="mandatory">* </span>  </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="bCity"   [ngClass]="{ 'is-invalid': (submitted && f['bCity'].errors) || f['bCity'].invalid && (f['bCity'].dirty || f['bCity'].touched)}">
                  <option value="">Select City</option>
                  <option>Chicago</option>
                  <option>WC</option>
                </select>
                <div *ngIf="submitted && f['bCity'].errors" class="invalid-feedback">
                  <div *ngIf="f['bCity'].errors.required">Select City </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row element">
              <label for="inputPassword" class="col-sm-4 col-form-label">Country <span class="mandatory">* </span>  </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="bCountry" [ngClass]="{ 'is-invalid': (submitted && f['bCountry'].errors) || f['bCountry'].invalid && (f['bCountry'].dirty || f['bCountry'].touched)}">
                  <option>Select Country</option>
                  <option>USA</option>
                  <option>Canada</option>
                </select>
                <div *ngIf="submitted && f['bCountry'].errors" class="invalid-feedback">
                  <div *ngIf="f['bCountry'].errors.required">Select Country </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row element">
              <label for="inputPassword" class="col-sm-3 col-form-label">State <span class="mandatory">* </span>  </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="bState" [ngClass]="{ 'is-invalid': (submitted && f['bState'].errors) || f['bState'].invalid && (f['bState'].dirty || f['bState'].touched)}">
                  <option>Select State</option>
                  <option>NY</option>
                  <option>NJ</option>
                </select>
                <div *ngIf="submitted && f['bState'].errors" class="invalid-feedback">
                  <div *ngIf="f['bState'].errors.required">Select State </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row element">
              <label for="inputPassword" class="col-sm-4 col-form-label">Zip code <span class="mandatory">* </span>  </label>
              <div class="col-sm-8">
                <select class="form-control" formControlName="bZipcode" [ngClass]="{ 'is-invalid': (submitted && f['bZipcode'].errors) || f['bZipcode'].invalid && (f['bZipcode'].dirty || f['bZipcode'].touched)}">
                  <option>Select Zipcode</option>
                  <option>52300</option>
                  <option>58263</option>
                </select>
                <div *ngIf="submitted && f['bZipcode'].errors" class="invalid-feedback">
                  <div *ngIf="f['bZipcode'].errors.required">Select Zip Code </div>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>

    </div >
    <div style="padding-left: 700px">
        <button class="btn btn-secondary" (click)="back()">Back</button>  &nbsp; &nbsp;&nbsp;
        <button class="btn btn-primary" >Next</button>
    </div>
  </form>
</div>
