.cash-account{
  padding: 20px;
  width: 975px;

}
.invalid-feedback {
  display: unset !important;
}
.owners-form{
  width: 80%;
  padding-left: 100px;
}
.element{
  padding-bottom: 15px;
}

.mandatory{
  color: red;
}

.same-address{
  padding-top: 20px;
  padding-bottom: 20px;
}
