<div class="container cash-account">
  <form  [formGroup]="cashAccountForm1" (ngSubmit)="onSubmit()">

  <div class="business-info">
    <div class="alert alert-primary" role="alert">
      <strong> Business Information </strong>
    </div>
    <div class="owners-form">
        <div class="form-group row element">
          <label  class="col-sm-4 col-form-label">Company Legal Name <span class="mandatory">* </span> </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Company Legal Name"  formControlName="companyLegalName"
                   [ngClass]="{ 'is-invalid': (submitted && f['companyLegalName'].errors) || f['companyLegalName']?.invalid && (f['companyLegalName'].dirty || f['companyLegalName'].touched)}" >
            <div *ngIf="submitted && f['companyLegalName'].errors" class="invalid-feedback">
              <div *ngIf="f['companyLegalName'].errors.required">Company Legal Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Doing Business as name <span class="mandatory">* </span> </label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  placeholder="Enter Doing Business as name"  formControlName="businessName"
                   [ngClass]="{ 'is-invalid': (submitted && f['businessName'].errors) || f['businessName']?.invalid && (f['businessName'].dirty || f['businessName'].touched)}" >
            <div *ngIf="submitted && f['businessName'].errors" class="invalid-feedback">
              <div *ngIf="f['businessName'].errors.required">Owner/Principle Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Business Phone <span class="mandatory">* </span> </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Business Phone"  formControlName="businessPhone"
                   [ngClass]="{ 'is-invalid': (submitted && f['businessPhone'].errors) || f['businessPhone']?.invalid && (f['businessPhone'].dirty || f['businessPhone'].touched)}" >
            <div *ngIf="submitted && f['businessPhone'].errors" class="invalid-feedback">
              <div *ngIf="f['businessPhone'].errors.required">Business Phone is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Business Email <span class="mandatory">* </span>  </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Business Email"  formControlName="businessEmail"
                   [ngClass]="{ 'is-invalid': (submitted && f['businessEmail'].errors) || f['businessEmail']?.invalid && (f['businessEmail'].dirty || f['businessEmail'].touched)}" >
            <div *ngIf="submitted && f['businessEmail'].errors" class="invalid-feedback">
              <div *ngIf="f['businessEmail'].errors.required">Business Email is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Account Type <span class="mandatory">* </span>  </label>
          <div class="col-sm-8">
            <select class="form-control"  formControlName="businessAccountType"
                    [ngClass]="{ 'is-invalid': (submitted && f['businessAccountType'].errors) || f['businessAccountType']?.invalid && (f['businessAccountType'].dirty || f['businessAccountType'].touched)}" >
              <option>Select Account Type</option>
              <option>Savings</option>
              <option>Current</option>
            </select>
            <div *ngIf="submitted && f['businessAccountType'].errors" class="invalid-feedback">
              <div *ngIf="f['businessAccountType'].errors.required">Account Type is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Account# </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Account#"  formControlName="businessAccount"
                   [ngClass]="{ 'is-invalid': (submitted && f['businessAccount'].errors) || f['businessAccount']?.invalid && (f['businessAccount'].dirty || f['businessAccount'].touched)}" >
            <div *ngIf="submitted && f['businessAccount'].errors" class="invalid-feedback">
              <div *ngIf="f['businessAccount'].errors.required">Account is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">FAX </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Fax" >
          </div>
        </div>
    </div>
  </div >
    <div class="owners-info">
      <div class="alert alert-primary" role="alert">
        <strong>Owner Information</strong>
      </div>
      <div class="owners-form">
        <div class="form-group row element">
          <label  class="col-sm-4 col-form-label">Owner/Principle Name <span class="mandatory">* </span> </label>
          <div class="col-sm-8">
            <input type="text"  formControlName="ownerName"
                   class="form-control" placeholder="Enter Owner/Principle Name"
                   [ngClass]="{ 'is-invalid': (submitted && f['ownerName'].errors) || f['ownerName']?.invalid && (f['ownerName'].dirty || f['ownerName'].touched)}" >
            <div *ngIf="submitted && f['ownerName'].errors" class="invalid-feedback">
              <div *ngIf="f['ownerName'].errors.required">Owner/Principle Name is required</div>
            </div>
          </div>

        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Phone <span class="mandatory">* </span>  </label>
          <div class="col-sm-8">
            <input type="text" class="form-control"  placeholder="Enter Phone"  formControlName="ownerPhone"
                   [ngClass]="{ 'is-invalid': (submitted && f['ownerPhone'].errors) || f['ownerPhone']?.invalid && (f['ownerPhone'].dirty || f['ownerPhone'].touched)}" >
            <div *ngIf="submitted && f['ownerPhone'].errors" class="invalid-feedback">
              <div *ngIf="f['ownerPhone'].errors.required">Owner Phone is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Email <span class="mandatory">* </span>  </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Enter Email"  formControlName="ownerEmail"
                   [ngClass]="{ 'is-invalid': (submitted && f['ownerEmail'].errors) || f['ownerEmail']?.invalid && (f['ownerEmail'].dirty || f['ownerEmail'].touched)}" >
            <div *ngIf="submitted && f['ownerEmail'].errors" class="invalid-feedback">
              <div *ngIf="f['ownerEmail'].errors.required">Owner Email is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row element">
          <label for="inputPassword" class="col-sm-4 col-form-label">Fax </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="inputPassword" placeholder="Enter Fax">
       </div>
        </div>
      </div>

    </div>

    <div style="padding-left: 800px">  <button class="btn btn-primary float-right" >Next</button>
  </div>
  </form>
</div>
