<div class="app container">
  <div class="header-title">
    <h3 *ngIf="router.url !== '/sales-use'">Cash Account</h3>
    <h3 *ngIf="router.url === '/sales-use'">For Sales Use Only </h3>

  </div>

<!--  <form class="example-form" >-->
<!--    jhh-->
<!--    <mat-form-field class="example-full-width">-->
<!--      <input-->
<!--        type="text"-->
<!--        name="address"-->
<!--        placeholder="Address"-->
<!--        matInput-->
<!--        [matAutocomplete]="auto"-->
<!--        [(ngModel)]="address"-->
<!--        (ngModelChange)="onChange($event)"-->
<!--      />-->
<!--    </mat-form-field>-->

<!--    <mat-autocomplete #auto="matAutocomplete">-->
<!--      <mat-option *ngFor="let address of addressOptions" [value]="address.text">-->
<!--        {{ address.text }}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->

<!--  </form>-->
<router-outlet></router-outlet>
</div>
