/* You can add global styles to this file, and also import other style files */
.alert {
  position: relative !important;
  padding: 0.5rem 0.5rem !important;
  margin-bottom: 1rem !important;
  border: 1px solid transparent !important;
  border-radius: 1rem !important;
}
